.header {
    display: flex;
    background-color: rgba(136, 202, 30, 0.562);
    position: relative;
    height: 100px;
}

.bubble-sort {
    margin-left: auto;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.insertion-sort {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.selection-sort {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.quick-sort {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.merge-sort {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.side-bar {
    display: flex;
    flex-direction: column;
    width: 170px;
    border:  2px solid red;
    margin-left: 20px;
}

.screen {
    display: flex;
    justify-content: center;
    margin-left: 200px;
    background-color: aqua;
    width: 1100px;
    height: 470px;
    border-radius: 5px;
    position: absolute;
    top: 120px;
    /* right: 30px; */
}